<div class="d-flex justify-content-between">
    <div class="block mr-4">
        <div class="img-import input" (click)="openAddTest()"></div>
        <div class="text-align-center text-bold">Nhập liệu</div>
    </div>
    <div class="block mr-4">
        <div class="img-import excel" (click)="openAlert()"></div>
        <div class="text-align-center text-bold">excel</div>
    </div>
    <div class="block">
        <div class="img-import scan" (click)="openAlert()"></div>
        <div class="text-align-center text-bold">scan</div>
    </div>
</div>
